.scanning-form-main {
    background-color: #fff;

}

.scanning-form-main h1 {
    text-align: center;
    padding: 25px;
    font-family: PopRegular;
    font-size: 30px;
}

.scanning-form {
    border: 1px solid #2ACB60;
    font-size: 22px;
    font-family: Popthin;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.scanning-form input[type=text]{
    border: 3px solid #2ACB60;
    border-radius: 25px;
    padding: 25px;
    width: 25%;
}

.scanning-form button {
    background-color: #4CAF50;
    border: none;
    font-family: PopRegular;
    color: white;
    padding: 7.5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px;
    width: 16%;
    cursor: pointer;
    border-radius: 25px;
    
}

.scanning-form button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
  }