.detailbar-menu-items {
    background-color: #ffffff;
    box-shadow: black;
    width: 100%;
    height: 50px;
    border: 2px solid #2ACB60;
}

.detailbar-item-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px 0px 8px 16px;
    height: 60px;
   
}

.detailbar-data {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 6px 0px 6px 12px;
    
}



.detailbar-data-3 {
    position: fixed;
    right: 9%;
}



.detailbar-data p {
    padding: 12px 12px 12px 12px;
}