.login-page {
    background-color: #2ACB60;
    height: 100vh;
    
}

.login-main-style {
    display: flex;
    
    justify-content: space-around;
    position: fixed;
    left: 15%;
    top: 20%;
    background-color: #ffffff;
    width: 70%;
    height: 60vh;
    border: 3px solid#FFD700;
    border-radius: 0.5%;
}

.login-logo-div {
    display: flex;
    justify-content: space-between;
}

.login-logo {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-top: 70px;
    margin-right: 70px;
}

.vertical-line {
    border-left: 3px solid grey;
    height: 59vh;
}

.login-form {
    margin-top: 5%;
    margin-right: 10%;
}

.login-form h1 {
    color: black;
    font-family: PopRegular;
}

.login-data-input {
    display: flex;
    flex-direction: column;
}

.login-data-input input[type=text], input[type=password] {
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px solid #2ACB60;
    padding: 10px;
}

.login-data-input button {
    background-color: #4CAF50;
    border: none;
    font-family: PopRegular;
    color: white;
    padding: 7.5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 4%;
}

.login-data-input button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }


