.navbarnew {
    background-color: #ffffff;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 50;
    box-shadow: black;
}

.sidebar-logo {
    width: 150px;
    height: 150px;
    margin-left: 50px;
    border-radius: 50%;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background-color: none;
}

.nav-search-user{
    margin-left: 2rem;
    font-size: 2rem;
    background-color: none;
    position: fixed;
    right: 3%;
}

.nav-menu {
    background-color: #2ACB60;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    z-index: 50;
    border: 2px solid #FFD700;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;

}

.nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
    cursor: pointer;
}

.nav-text a:hover {
    background-color: limegreen;
    border: solid 1px #f5f5f5;
}

.nav-menu-items {
    width: 100%;
}

.navbar-toggle {
    background-color: #2ACB60;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

span {
    margin-left: 16px;
}